body {
  /* display: flex;
}
.square {
  width: 100px;
  height: 100px;
}
table{
  -ms-flex-align: center;
}
.positive {
  background-color: lightgrey;
}

.negative {
  background-color: grey;
}

.inConflict{
  background-color: red;
} */
